[mcu rpi]
serial: /tmp/klipper_host_mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[bltouch]
sensor_pin: PA11
control_pin: PA8
x_offset: -38.0
y_offset: 0.0

[filament_switch_sensor switch_sensor1]
switch_pin: ^PA2
pause_on_runout: False
runout_gcode:
  PAUSE
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor encoder_sensor1]
switch_pin: ^PA4
detection_length: 2.88
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted

# [filament_switch_sensor runout_sensor2]
# switch_pin: PE6
# pause_on_runout: True

[exclude_object]

[gcode_arcs]

[respond]

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[virtual_sdcard]
path: /home/sp3/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[safe_z_home] 
home_xy_position: 110, 110
z_hop: 10
z_hop_speed: 5

[idle_timeout] 
timeout: 1800
gcode:
    {% if printer.pause_resume.is_paused %}
        M117 Bypassed Timeout
    {% else %}
        M117 Timeout Reached
        TURN_OFF_HEATERS
        M84
        # M81
    {% endif %}

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 5, 5
mesh_max: 182,215
probe_count: 5, 5
algorithm: bicubic
mesh_pps: 10, 10
fade_start: 1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
screw1: 48, 5
screw1_name: front left screw
screw2: 220, 5
screw2_name: front right screw
screw3: 220, 215
screw3_name: rear right screw
screw4: 48, 215
screw4_name: rear left screw
screw_thread: CW-M4

[bed_screws]
screw1: 5,5
screw2: 220,5
screw3: 220,215
screw4: 5,215


[output_pin beeper_pin]
pin: PC5
pwm: True 
value: 0
shutdown_value: 0
cycle_time: 0.001 # 1ms cycle time for a tone (1kHz)


[gcode_macro _CLIENT_VARIABLE]
variable_custom_park_dz: 20.0
variable_runout_sensor: "filament_switch_sensor switch_sensor1"
gcode:
