[mcu rpi]
serial: /tmp/klipper_host_mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[bltouch]
sensor_pin: PA11
control_pin: PA8
y_offset: -40.0
# pin_move_time: 0.4
# speed: 20
# probe_with_touch_mode: true
# stow_on_each_sample: false
# samples: 3
# samples_tolerance_retries: 2

[filament_switch_sensor runout_sensor]
pause_on_runout: True
switch_pin: PA4

# [filament_switch_sensor runout_sensor2]
# pause_on_runout: True
# switch_pin: PE6

[exclude_object]

[gcode_arcs]

[respond]

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[virtual_sdcard]
path: /home/sp3/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: True

[safe_z_home] 
home_xy_position: 112.5,112.5
z_hop: 10
z_hop_speed: 5

[idle_timeout] 
timeout: 1800
gcode:
    {% if printer.pause_resume.is_paused %}
        M117 Bypassed Timeout
    {% else %}
        M117 Timeout Reached
        TURN_OFF_HEATERS
        M84
        # M81
    {% endif %}

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 5, 5
mesh_max: 225,185
probe_count: 5, 5
algorithm: bicubic
mesh_pps: 10, 10
fade_start: 1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
screw1: 10, 50
screw1_name: front left screw
screw2: 218, 50
screw2_name: front right screw
screw3: 218, 225
screw3_name: rear right screw
screw4: 10, 225
screw4_name: rear left screw
screw_thread: CW-M4

[bed_screws]
screw1: 10,10
screw2: 225,10
screw3: 225,225
screw4: 10,225
