[delayed_gcode __MMU_STARTUP]
initial_duration: 2.0
gcode:
    T0

[gcode_macro __MMU_REMOVE]
gcode:
    M83
    # tip forming
    G0 E-4 F1200
    G4 P500
    G0 E3 F600
    # remove
    G0 E-190 F2400

[gcode_macro __MMU_INSERT]
gcode:
    # insert
    G0 E190 F2400

# Secondary extruder
[extruder_stepper extruder_1]
extruder: 
step_pin: PA6
dir_pin: !PA1
enable_pin: !PA3
microsteps: 16
gear_ratio: 50:17
rotation_distance: 23.164

[gcode_macro __MMU_DESYNC_ALL]
gcode:
    # Desync all steppers
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_1 MOTION_QUEUE=
    
[gcode_macro T0]
gcode:
    __MMU_DESYNC_ALL
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder

[gcode_macro T1]
gcode:
    __MMU_DESYNC_ALL
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_1 MOTION_QUEUE=extruder
