[delayed_gcode __MMU_STARTUP]
initial_duration: 2.0
gcode:
    T0

[gcode_macro __MMU_INIT]
gcode:
	SET_FILAMENT_SENSOR SENSOR=switch_sensor1 ENABLE=0
	SET_FILAMENT_SENSOR SENSOR=encoder_sensor1 ENABLE=0

[gcode_macro __MMU_END]
gcode:
    __MMU_REMOVE
    T0
    __MMU_INSERT

[gcode_macro __MMU_REMOVE]
description: Form filament tip and unload
gcode:
    {% set retract1 = 3.0 %}
    {% set retract1_speed = 2400 %}
    {% set retract2 = 1.0 %}
    {% set retract2_speed = 300 %}
    {% set tip_pause = 300 %}
    {% set tip_push = 2.0 %}
    {% set push_speed = 600 %}
    {% set unload_length = 190.0 %}
    {% set unload_speed = 2400 %}
    M83
    # Tip forming
    G0 E-{retract1} F{retract1_speed}
    G0 E-{retract2} F{retract2_speed}
    G4 P{tip_pause}
    G0 E{tip_push} F{push_speed}
    # Unload
    G0 E-{unload_length} F{unload_speed}    

[gcode_macro __MMU_INSERT]
description: Insert filament to the hotend
gcode:
    {% set insert_length = 187.0 %}
    {% set insert_speed = 2400 %}
    {% set settle_time = 100 %}      # ms
    {% set final_push = 3.0 %}
    {% set final_speed = 600 %}
    M83
    # Fast travel through the Bowden
    G0 E{insert_length} F{insert_speed}
    # Let the filament settle
    G4 P{settle_time}
    # Gentle final push
    G0 E{final_push} F{final_speed}

# Secondary extruder
[extruder_stepper extruder_1]
extruder: 
step_pin: PA6
dir_pin: !PA1
enable_pin: !PA3
microsteps: 16
gear_ratio: 50:17
rotation_distance: 23.164

[gcode_macro __MMU_DESYNC_ALL]
gcode:
    # Desync all steppers
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_1 MOTION_QUEUE=
    
[gcode_macro T0]
gcode:
    __MMU_DESYNC_ALL
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder

[gcode_macro T1]
gcode:
    __MMU_DESYNC_ALL
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_1 MOTION_QUEUE=extruder
