# Secondary extruder
[extruder_stepper extruder_1]
extruder: 
step_pin: PA6
dir_pin: !PA1
enable_pin: !PA3
microsteps: 16
gear_ratio: 50:17
rotation_distance: 23.164

# [filament_switch_sensor runout_sensor]
# switch_pin: PA4
# pause_on_runout: True

[gcode_macro T0]
gcode:
    # Deactivate other steppers
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_1 MOTION_QUEUE=
    # Activate right stepper
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder

[gcode_macro T1]
gcode:
    # Deactivate other steppers
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=
    # Activate right stepper
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_1 MOTION_QUEUE=extruder

[gcode_macro DUAL_REMOVE]
gcode:
  M83
  # G0 E3 F300
  G0 E-4 F1200
  G4 P500
  G0 E3 F600
  # G4 P300
  G0 E-190 F2400

[gcode_macro DUAL_INSERT]
gcode:
  G0 E190 F2400