# [include params.cfg]

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 250
max_accel: 2000 #3000 #4500
max_z_velocity: 10
max_z_accel: 80

[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
endstop_pin: !PA15
position_endstop: 0
position_max: 225
homing_speed: 50

[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 32
rotation_distance: 40
endstop_pin: !PA12
position_endstop: 225
position_max: 225
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
microsteps: 32
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop
position_max: 220
position_min: -2

[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16
gear_ratio: 50:17
rotation_distance: 11.873 
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC1
min_temp: 0
max_temp: 250
max_extrude_cross_section: 10
pressure_advance: 0.4
max_extrude_only_distance: 1000
min_extrude_temp: 170

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
min_temp: 0
max_temp: 120

[fan]
pin: PB1

[static_digital_output reset_display]
pins: !PC6, !PD13

[firmware_retraction]
retract_length: 6.5
retract_speed: 45
unretract_speed: 45

[include custom.cfg]
[include macros.cfg]
[include timelapse.cfg]
# [include mmu.cfg]
[include dual.cfg]
# [include PIS.cfg]
[include mainsail.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.464
#*# pid_ki = 1.185
#*# pid_kd = 116.149
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 325.10
#*# pid_ki = 63.35
#*# pid_kd = 417.10
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 86.0
#*# shaper_type_y = ei
#*# shaper_freq_y = 72.4
#*#
#*# [bltouch]
#*# z_offset =  0.905 #0.865 # 0.905 (carbonfiber-like) # 0.835 (textured PEI/geecko)

